---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialButton from "../components/SocialButton.astro";
import MailIcon from "../components/icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Timeline from "../components/Timeline.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/code.astro";
import Projects from "../components/Projects.astro";

var availableToWork = 'yes'
---

<Layout title="Luis Castano|Portafolio">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32" id="top">
      <div class=" gap-x-4 flex flex-row items-center mb-4 ">
        <img 
          class="rounded-full w-14 h-14
          hover:scale-150" 
          src="src/images/profile.jpg">
          <a
          href="https://www.linkedin.com/in/luis-castano/"
          class="flex justify-center items-center"
        >
        {
          availableToWork === 'yes'
          ? <Badge>Available for work</Badge>
          : <Badge>Not a vailable for work</Badge>
        }
        </a>
      </div>
      <h1
        class="text-white  font-bold  
        text-3xl md:text-4xl lg:text-5xl
        pb-6 lg:pb-10"
      >
        Hi, <br>I am Luis Bedoya Castano 👋
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <spam class="text-yellow-200"> Junior Java Back end developer</spam>
        working on integrations through APIs using Spring Boot and learning to become a 
        <spam class="text-blue-200"> future Full stack developer</spam> with flutter. 
        Based in London. I am a native Spanish speaker and fluent in English.
      </h2>
      <nav class="flex gap-4 lg:gap-x-4 mt-8 flex-wrap">
        <SocialButton href="https://github.com/Luis-Bedoya">
          <GithubIcon class="size-4 md:size-6" />
          Github
        </SocialButton>
        <SocialButton href="https://www.linkedin.com/in/luis-castano/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialButton>
        <SocialButton href="mailto:luis_6_14@hotmail.com:">
          <MailIcon class="size-4 md:size-6" />
          luis_6_14@hotmail.com
        </SocialButton>
      </nav>
    </SectionContainer>

    <SectionContainer id="Experience">
      <h2 class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Work experience 
      </h2>
      <Timeline />
    </SectionContainer>

    <SectionContainer id="Projects">
      <h2 class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects/>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        Tech stack
      </h2>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        Studies
      </h2>
    </SectionContainer>

  </main>
</Layout>

<style></style>
