---

---
<header class="
  flex justify-center items-center w-full xl:w-[1120px] mx-auto
  z-10 py-5 px-auto md:p-5 top-0
  sticky">

  <nav 
  class="
  backdrop-blur-2xl  bg-[#121212] border-white/10  
  rounded-full border
  flex flex-row 
  gap-x-3 p-2 md:gap-x-10 md:px-5 
  opacity-90">
    <a href="#top">Home</a>
    <a href="#Experience">Experience</a>
    <a href="#Projects">Projects</a>
    <a href="#About-me">About me</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
